{% extends "history_layout.html" %}

{% block content %}

<div class="container-fluid min-vh-100 bg-light p-5">
    {% if latest %}
    <!-- Results: -->
    <div class="row">
        <h1 class="mt-3">Most Recent Classification:</h1>
        <a class="mb-3" href="#history">Jump to History</a>
        <div class="col-4">

            
            <img class="mb-2" src="{{ url_for('static', filename='uploadedImg/' + latest.imgfilepath) }}">
            


        </div>

        <div class="col-8">
            <h3>{{'%0.2f'|format(latest.results1Percent)}}% Match: <a class="RESULTS text-decoration-none text-dark">{{latest.results1}}</a></h3>
            <div class="progress mb-2">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{latest.results1Percent}}%" aria-valuenow="{{latest.results1Percent}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h3>{{'%0.2f'|format(latest.results2Percent)}}% Match: <a class="RESULTS text-decoration-none text-dark">{{latest.results2}}</a></h3>
            <div class="progress mb-2">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{latest.results2Percent}}%" aria-valuenow="{{latest.results1Percent}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h3>{{'%0.2f'|format(latest.results3Percent)}}% Match: <a class="RESULTS text-decoration-none text-dark">{{latest.results3}}</a></h3>
            <div class="progress mb-2">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{latest.results3Percent}}%" aria-valuenow="{{latest.results1Percent}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <!-- <p>{{latest.results1Percent}}</p> -->
        </div>
        <hr/>

    </div>
    <!-- Tips div -->
    <div class="row mt-5" id="tips">

    </div>
    <script>
        // display tips and pictures
        html = ''
        results = document.getElementsByClassName("RESULTS")
        for (var i = 0; i < results.length; i++) {
            var result = results[i].innerText;
            console.log(result)
            switch (result){
                case 'powdery_mildew':
                    html += `
                        <div class="col-4 mt-2">
                            <h2 class="ms-3">Powdery Mildew</h2>
                            <img class="w-75 ms-3 mt-2" src="{{ url_for('static', filename='images/powdery_mildew.jpg') }}">
                        </div>
                        <div class="col-8 mt-5">
                            <h5>What is it?</h5>
                            <p>Powdery mildew is a common fungus that affects a wide variety of plants. It is easily identified and appears as light grey or white powdery spots usually found on infected leaves, but can also be found underneath, or on stems, flowers, fruit or vegetables.</p>
                            <h5>How to treat?</h5>
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Baking soda solution:</strong> Mix 1 tablespoon baking soda and ½ teaspoon liquid soap such as Castile soap (not detergent) in 1 gallon of water. Spray liberally, getting top and bottom leaf surfaces and any affected areas. This method may work better as a preventative measure, although it does have some effect on existing powdery mildew as well. </li>
                                <li class="list-group-item"><strong>Powdery mildew fungicide:</strong> Use sulfur-containing organic fungicides as both preventive and treatment for existing infections. </li>
                                <li class="list-group-item"><strong>Potassium bicarbonate:</strong> Mix 1 tablespoon potassium bicarbonate and ½ teaspoon liquid soap (not detergent) in 1 gallon of water. Spray liberally to all affected areas. </li>
                            </ul>
                        </div>
                            `
                    break;
                case 'complex': 
                    html += `
                        <div class="col-4 mt-2">
                            <h2 class="ms-3">Complex</h2>
                            <img class="w-75 ms-3 mt-2" src="{{ url_for('static', filename='images/complex.png') }}">
                        </div>
                        <div class="col-8 mt-5">
                            <h5>What is it?</h5>
                            <p>Unfortunately, your plant may be suffering from multiple diseases, and our model may not be able to exactly pinpoint a disease.</p>
                            <h5>General Tips</h5>
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Well Balanced Soil: </strong>Ensure that your soil has a good mix of Organic Matter, Minerals, Compost and other types of soil. This ensures that your plant can receive as much nutrients as possible to grow strong and healthy!</li>
                                <li class="list-group-item"><strong>Don't Overwater: </strong>Overwatering keeps too much moisture against trunks, encouraging fungal infections. It also provides perfect cover for rabbits, mice, and other rodents in the winter, little havens from which they can munch on thin-barked plants at their leisure.</li>
                                <li class="list-group-item"><strong>Keep a Clean Garden: </strong>Weed your garden often and clear out other diseased crops. Sometimes, weeds can contain diseases, which may spread to your plant leaves as well. So it's always a good practise to weed your garden regularly.</li>
                            </ul>
                        </div>
                    `
                    break;
                case 'frog_eye_leaf_spot':
                    html += `
                    <div class="col-4 mt-2">
                            <h2 class="ms-3">Frog Eye Leaf Spot</h2>
                            <img class="w-75 ms-3 mt-2" src="{{ url_for('static', filename='images/frogeyeleafspot.jpg') }}">
                        </div>
                        <div class="col-8 mt-5">
                            <h5>What is it?</h5>
                            <p>Frogeye leaf spot is caused by the fungus Cercospora sojina. The disease may cause severe defoliation during warm, humid weather. Symptoms of frogeye leaf spot are most visible and typically seen on leaves, but can also occur on stems, pods, and seeds. Lesions on leaves begin as small, dark, water-soaked spots. They develop into brown spots surrounded by a darker reddish-brown or purple ring. The centers of the lesions turn light brown or light gray as they age. The center of spots may turn white with black specks visible (fungal fruiting structures) or the centers may fall away leaving a 'shot hole' appearance. The lesions may eventually merge, covering large areas of the leaves and resulting in defoliation.</p>
                            <h5>How to treat?</h5>
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Remove infected leaves/branches: </strong>Remove and dispose of cankered branches when conditions are dry to reduce inoculum available to initiate frogeye leaf spot and well as cankers.</li>
                                <li class="list-group-item"><strong>Fungicide Treatments: </strong>Use fungicide treatments to prevent infections of fruit in orchard situations if sanitation does not sufficiently suppress fruit spot infections.</li>
                            </ul>
                    </div>
                    `
                    break;
                case 'healthy':
                    html += `
                    <div class="col-4 mt-2">
                            <h2 class="ms-3">Healthy</h2>
                            <img class="w-75 ms-3 mt-2" src="{{ url_for('static', filename='images/healthy.jpg') }}">
                        </div>
                        <div class="col-8 mt-5">
                            <h5>Well done!</h5>
                            <p>Your plant leaf seems to be healthy! Keep up the good work! Here are some tips to keep your plant in tip-top shape and prevent diseases!</p>
                            <h5>General Tips</h5>
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Well Balanced Soil: </strong>Ensure that your soil has a good mix of Organic Matter, Minerals, Compost and other types of soil. This ensures that your plant can receive as much nutrients as possible to grow strong and healthy!</li>
                                <li class="list-group-item"><strong>Don't Overwater: </strong>Overwatering keeps too much moisture against trunks, encouraging fungal infections. It also provides perfect cover for rabbits, mice, and other rodents in the winter, little havens from which they can munch on thin-barked plants at their leisure.</li>
                                <li class="list-group-item"><strong>Keep a Clean Garden: </strong>Weed your garden often and clear out other diseased crops. Sometimes, weeds can contain diseases, which may spread to your plant leaves as well. So it's always a good practise to weed your garden regularly.</li>
                            </ul>
                    </div>
                    `
                    break;
                case 'multiple_diseases':
                    html += `
                    <div class="col-4 mt-2">
                            <h2 class="ms-3">Multiple Diseases</h2>
                            <img class="w-75 ms-3 mt-2" src="{{ url_for('static', filename='images/multiplediseases.jpg') }}">
                        </div>
                        <div class="col-8 mt-5">
                            <h5>What is it?</h5>
                            <p>Your plant leaf seems to have multiple diseases that our model can classify! Our model thinks your plant has at least one of the following: <i>Combination of Rust/Scab + Frog Eye Leaf Spot, or a complex case of Rust/Powdery Mildew/Frog Eye Leaf Spot</i></p>
                            <h5>How to Treat?</h5>
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Well Balanced Soil: </strong>Ensure that your soil has a good mix of Organic Matter, Minerals, Compost and other types of soil. This ensures that your plant can receive as much nutrients as possible to grow strong and healthy!</li>
                                <li class="list-group-item"><strong>Don't Overwater: </strong>Overwatering keeps too much moisture against trunks, encouraging fungal infections. It also provides perfect cover for rabbits, mice, and other rodents in the winter, little havens from which they can munch on thin-barked plants at their leisure.</li>
                                <li class="list-group-item"><strong>Keep a Clean Garden: </strong>Weed your garden often and clear out other diseased crops. Sometimes, weeds can contain diseases, which may spread to your plant leaves as well. So it's always a good practise to weed your garden regularly.</li>
                            </ul>
                    </div>
                    `
                break;
                case 'rust':
                    html += `
                    <div class="col-4 mt-2">
                            <h2 class="ms-3">Rust</h2>
                            <img class="w-75 ms-3 mt-2" src="{{ url_for('static', filename='images/rust.jpg') }}">
                        </div>
                        <div class="col-8 mt-5">
                            <h5>What is it?</h5>
                            <p>Rust disease is caused by a fungal parasite that needs living plants to survive. Rust diseases occur most often in mild, moist conditions. Rust is spread by spores that are transferred from infected plants to healthy plants. These spores can be transferred either by the wind or by water, which is why rust disease often spreads after watering. Wet surfaces are also needed to cause infections.</p>
                            <h5>How to Treat?</h5>
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Plant Spacing: </strong>Space your plants properly to encourage good air circulation. Clean away all debris in between plants to prevent rust from spreading.</li>
                                <li class="list-group-item"><strong>Water Carefully: </strong>Avoid wetting the leaves when watering plants, as this can help spread rust.</li>
                                <li class="list-group-item"><strong>Remove Infected Leaves: </strong>Remove all infected parts and destroy them. For bramble fruits, remove and destroy all the infected plants and replant the area with resistant varieties.</li>
                            </ul>
                    </div>
                    `
                break;
                case 'scab':
                    html += `
                    <div class="col-4 mt-2">
                            <h2 class="ms-3">Scab</h2>
                            <img class="w-75 ms-3 mt-2" src="{{ url_for('static', filename='images/scab.jpg') }}">
                        </div>
                        <div class="col-8 mt-5">
                            <h5>What is it?</h5>
                            <p>Scab is caused by a fungus that infects both leaves and fruit. Scabby fruit are often unfit for eating. Infected leaves have olive green to brown spots. Leaves with many leaf spots turn yellow and fall off early. Leaf spots are round, olive-green in color and up to ½-inch across. Spots are velvet-like with fringed borders, and often form along the leaf veins.</p>
                            <h5>How to Treat?</h5>
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Pruning: </strong>Prune your plants to open up branching and allow more air circulation.</li>
                                <li class="list-group-item"><strong>Water Carefully: </strong>Avoid wetting the leaves when watering plants, as this can help spread scab.</li>
                                <li class="list-group-item"><strong>Choose Scab-Resistant Plants : </strong>Choose resistant varieties when possible. Planting disease resistant varieties is the best way to manage scab.</li>
                            </ul>
                    </div>
                    `
                break;
                default:
                    break;

            }
        }
        console.log(html)
        $("#tips").append(html)
    

    </script>
    
    <!-- <div class="row mt-5 d-flex justify-content-end">
        <div class="input-group rounded w-25">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button class="btn btn-dark">
                Search
            </button>
        </div>
    </div> -->
    <div class="row mt-5" id="history">
        <div class="col-md-12">
            <h2 class="pb-3">Your Recent Searches:</h2>
            <table class="table table-striped bg-white rounded shadow" id="historyTable" >
                <thead>
                   <tr>
                      <th class="text-center">Image</th>
                      <th class="text-center">Best Match</th>
                      <th class="text-center">Best Match %</th>
                      <th class="text-center">2nd Match</th>
                      <th class="text-center">2nd Match %</th>
                      <th class="text-center">3rd Match</th>
                      <th class="text-center">3rd Match %</th>
                      <th class="text-center">Timestamp</th>
                      <th class="text-center">Remove</th>
                   </tr>
                </thead>
                <tbody>
                    {% for entry in entries %}
                        <tr>
                        <td class="text-center"><img class="h-75 w-75" src="{{ url_for('static', filename='uploadedImg/' + entry.imgfilepath) }}" /></td>
                        <td class="text-center">{{ entry.results1}}</td>
                        <td class="text-center">{{'%0.2f'|format(entry.results1Percent)}}%</td>
                        <td class="text-center">{{ entry.results2 }}</td>
                        <td class="text-center">{{'%0.2f'|format(entry.results2Percent)}}%</td>
                        <td class="text-center">{{ entry.results3}}</td>
                        <td class="text-center">{{ '%0.2f'|format(entry.results3Percent)}}%</td>
                        <td class="text-center">{{ entry.predicted_on.strftime("%d %b %y %H:%M")}}</td>
                        <td>
                            <form name="frmRemoveEntry" class="d-flex justify-content-center" action="/remove" method="post" 
                                  novalidate>
                            <input type="hidden" name="id" value="{{entry.id}}">
                            <!-- <input type="submit" class="form-control btn-danger" 
                                   value="Remove"> -->
                            <button class="btn text-center" type="submit"><i style="font-size:23px;" class="bi bi-trash text-center"></i></button>
                            </form>
                        </td>                    
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
    <script>
        $(document).ready( function () {
            $('#historyTable').DataTable({
                autoWidth: false,
                columnDefs: [
                    {width: "13%", targets: [0]}
                ]
            });
        } );
    </script>
    {% else %}
    <div class="row">
        <div class="col-12">
            <h1>No history found! Make a classification with us now!</h1>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}