<!-- Inherits from layout.html -->
{% extends "layout.html" %}
<!-- The block content replace the one encapsulated in  layout.html -->
{% block content %}

{% include "includes/modal.html" %}
<!-- <div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="centered">
            <canvas id="canvas" width="128" height="128"></canvas>
        </div>
 
        <div class="centered">
            <input type="button" id="predictButton" class="btn btn-primary" value="Predict">
            <input type="button" id="clearButton" class="btn btn-primary" value="Clear">
        </div>
 
        <div class="centered">
            <h1 id="result"></h1>
        </div>
    </div>
</div> -->
<div class="row mx-auto">
    <div class="col-12 text-light text-center mt-5 mb-5">
        <h1 class="display-1 mt-5" style="text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); ">Plant Doctor</h1>
        <h3 class="">Plants lives are lives too! <br/> Find out what's wrong with your plant in a few easy steps!</h3>
    </div>
</div>
<div class ="row mx-auto">
    <div class="col-12 d-flex justify-content-center">
        <button class="btn" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" style="color: white; background-color: #55b57a;"><i class="bi bi-upload pe-2"></i>Try it now!</button>
    </div>
</div>
<!-- Instructions -->
<div class="container-fluid text-light" id="instructionsDiv">
    <div class="row pt-3 mt-5 rounded-top rounded-3 pb-5" >
        <h2 class="text-center" style="color: white;">How it Works?</h2>
        <div class="row align-items-start">
            <div class="col d-flex justify-content-center">
                <i class="bi bi-camera" style="font-size: 8em;"></i>
            </div>
            <div class="col d-flex justify-content-center">
                <i class="bi bi-upload" style="font-size: 8em;"></i>
            </div>
            <div class="col d-flex justify-content-center">
                <i class="bi bi-list" style="font-size: 8em"></i>
            </div>
          </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h1 >&#10102;</h1>
            </div>
            <div class="col d-flex justify-content-center">
                <h1 >&#10103;</h1>
            </div>
            <div class="col d-flex justify-content-center">
                <h1 >&#10104;</h1>
            </div>
        </div>
        <div class="row pt-3 mb-4">
            <div class="col d-flex justify-content-center">
                <p class="text-center"><strong>Open Your Webcam </strong><br/><br/>
                    Take a picture of your plant's leaf. Please ensure that the leaf in the picture is big,
                clear, and well-lit to ensure that our model can classify it well.</p>
            </div>
            <div class="col d-flex justify-content-center">
                <p class="text-center"><strong>Upload an image</strong><br/><br/>
                    Once you've taken a nice image of your leaf, press the "Upload image" button for the image to be sent for classification.
                </p>
            </div>
            <div class="col d-flex justify-content-center">
                <p class="text-center"><strong>View your results </strong><br/><br/>
                    Our model will return you the top 3 diseases that it thinks your plant has. Some tips on how to take care of
                plants with these diseases will be given</p>
            </div>
        </div>
    </div>
</div>
<!-- Camera -->

<!-- Info -->
<div class="container-fluid bg-light p-5">
    <div class="row pt-3 d-flex justify-content-center">
            <img src="{{url_for('static', filename='images/P1.jpg') }}" class="col-5">
            <div class="col-6">
                <h1 class="">Your Plant Needs You!</h1>
                <p>Plants are important for the planet and for all living things. Plants absorb carbon dioxide and release oxygen from their leaves, which humans and other animals need to breathe. Living things need plants to live - they eat them and live in them. 
                    Plants help to clean water too. Research has also shown that taking care of plants can help reduce stress. Thus, they are a very important part of our life and 
                we have to take care of them to take care of ourselves!</p>
            </div>   
            
    </div>

</div>
<div class="container-fluid bg-light p-5 ">
    <div class="row pt-3 d-flex justify-content-center">
        <div class="col-6">
            <h1 class="float">Act Fast Before It's Too Late!</h1>
            <p>Identifying plant diseases is the first step in treating the problem. There are many types of diseases that affect garden plants, leaving many gardeners scratching their heads. By using the following information, you can learn how to go about identifying 
                plant diseases for effective disease control. Many garden disease problems can be alleviated simply by practicing good growing conditions. Yet, even in the best of circumstances, garden diseases happen. But with a little know how, you stand a better chance 
                of treating these garden disease problems early on.</p>
        </div>   
        <img src="{{url_for('static', filename='images/P2.jpg') }}" class="col-5">
            
    </div>

</div>


{% endblock %}