{% extends "login_layout.html" %}

{% block content %}
    <div class="container">
      <div class="row vh-100 align-items-center justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-4 bg-white rounded p-4 shadow">
          <div class = "login_box row justify-content-center mb-4">
            <img src="{{url_for('static', filename='images/leaflogo.png') }}" alt="logo" class="w-25">
          </div>
          <form name = "form_login" action = "/login" method = "POST">
              {{ form.hidden_tag() }}
              <label for="name" class="form-label pt-3">{{ form.name.label }}</label>
              {{ form.name(id="name",placeholder="Enter your username", class="form-control") }}
              <label for="password" class="form-label pt-3">{{ form.password.label }}</label>
              {{ form.password(id="password",placeholder="Enter your password", class="form-control") }}
              <div class="text-center mt-4">
                {{ form.submit(id="submit_button", class="btn text-light", style="background-color: rgb(32, 103, 124);" ) }}  
              </div>
          </form>
           
        </div>
      </div>
    </div>

    
{% endblock %}
