<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>{{title}}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css')}}" />
      <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Open+Sans:wght@300;400;500&display=swap"
        rel="stylesheet">
    </head>
    <body class="">
        {% block content %}
        {% endblock %}
        <!-- This line generate the error -->
        <div class = "text-center">
        {% with messages = get_flashed_messages(with_categories=true)%}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class = "{{ category }} pt-3 pb-3 mb-5" id="error_message">
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
        </div>
    </body>
</html>