html,
body {
    height: 100%;
    position: relative;
    margin:0px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/static/images/leavespic.jpg');
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
}



#logo {
    width:10%;
    height:auto;
}
nav {
    background-color: rgb(21, 60, 58);
}
hr {
    width: 100%;
    height:1px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkblue;
    border: 0 none;
}
 
input[type=text]{
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
 
input[type=text]:focus{
    background-color: #ddd;
    outline: none;
}
 
 
#instructionsDiv {
    background-image: linear-gradient( #146148, #2b865f);
  }