<div class="pb-2 container-fluid text-center text-light
bottom-container pt-3" style="background-color: #256e48;">
    <footer>
    <p class="fw-bold">Copyright &copy;2022. &#9865;Plant Doctor &#9865; All rights reserved.</p>
    </footer>
</div>