<!-- Modal -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.js"></script>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #a7d3bd;">
        <div class="modal-body">
            <i class="bi bi-image d-flex justify-content-center" style="font-size: 100px;"></i>
            <div class="row mt-2">
                <!-- CAMERA STUFFS -->
                <div id="cameraDiv" class="mt-2" style="display: none;">
                    <div class="row mx-auto">
                        <!-- Display the Camera preview -->
                        <div id="cameraPreview" style="display: flex">
                            <div id="camera" class="d-flex justify-content-center col" style="height:auto;width:auto; text-align:left;"></div>
                            <button class="col btn btn-dark" id="btPic" onclick="takeSnapShot()"><i class="bi bi-record-circle text-light" style="font-size: 30px;"></i></button>     
                        </div>
                        <script>
                            function toggleCamera(){
                            // Remove browse image
                            var x = document.getElementById("displayBrowse");
                            if (x.style.display === "block") {
                                x.style.display = "none";
                            }
                            var x = document.getElementById("cameraDiv");
                            if (x.style.display === "none") {
                                x.style.display = "flex";
                            } else {
                                x.style.display = "none";
                            }
                            }
                            // CAMERA SETTINGS.
                            Webcam.set({
                                width: 320,
                                height: 240,
                                image_format: 'png',
                                jpeg_quality: 100
                            });
                            Webcam.attach('#camera');
        
                            // SHOW THE SNAPSHOT.
                            takeSnapShot = function () {
                                Webcam.snap(function (data_uri) {
                                    window.ImageURL = data_uri
                                    document.getElementById('snapShot').innerHTML = 
                                        '<img src="' + data_uri + '" width="320px" height="240px" />';
                                });
                                var y = document.getElementById("cameraPreview")
                                if (y.style.display === "flex"){
                                    y.style.display = "none"
                                } 
                                var x = document.getElementById("snapShotDiv");
                                if (x.style.display === "none") {
                                    x.style.display = "flex";
                                }
                            }
                            function retake(){
                                var y = document.getElementById("cameraPreview")
                                if (y.style.display === "none"){
                                    y.style.display = "flex"
                                } 
                                var x = document.getElementById("snapShotDiv");
                                if (x.style.display === "flex") {
                                    x.style.display = "none";
                                }
                            }
                            
                            var loadFile = function(event) {
                                // close camera
                                var x = document.getElementById("cameraDiv");
                                if (x.style.display === "flex") {
                                    x.style.display = "none";
                                }
                                var x = document.getElementById("displayBrowse");
                                if (x.style.display === "none") {
                                    x.style.display = "block";
                                }
                                var image = document.getElementById('output');
                                image.src = URL.createObjectURL(event.target.files[0]);
                                console.log(image)
                                window.ImageURL = image.src
                            };
                    
                        </script>
                    </div>
                    <div class="row mx-auto" style="display: none;" id="snapShotDiv">
                        <p id="snapShot" class="d-flex justify-content-center"></p>
                        <div id="buttonDiv" class=" justify-content-center d-flex">
                            <button class="btn btn-dark me-1" id="uploadButton" >Predict</button>
                            <button class="btn btn-dark ms-1" onclick="retake()" id="retake">Retake</button>
                        </div>

                        
                        <script>                                
                        $("#uploadButton").click(function(){
                            console.log("HI")
                            img = window.ImageURL
                            console.log(img)
                                $.ajax({
                                    type: "POST",
                                    url: "https://plantwebapp.herokuapp.com/predict",
                                    data: img,
                                    success: function(data){
                                        console.log(data)
                                        console.log("success!!! going to redirect..?")
                                        window.location.replace("https://plantwebapp.herokuapp.com/history");
                                    }
                                });
                            });
                            </script>
                        
                    </div>
        
                </div>
                
            </div>
            <!-- After person choose browse and upload an image -->
            <div class="justify-content-center" style="display: none" id="displayBrowse">
                <div class="row">
                    <img id="output" class="col-12 mx-auto" width="200" /> 
                </div>
                <div class="row">
                    <div class="col-12 mt-2 d-flex justify-content-center">
                        <button class="btn btn-dark me-1" id="uploadButton2" onclick="uploadBrowse()">Predict</button>
                        <button class="btn btn-dark ms-1" onclick="cancel()">Cancel</button>                         
                    </div>
                </div>
                <script>
                    function cancel(){
                        var x = document.getElementById("displayBrowse");
                                if (x.style.display === "block") {
                                    x.style.display = "none";
                        }
                    }
                    function uploadBrowse(){
                        console.log("IN UPLOAD BROWSE")
                        var canvas = document.createElement('canvas');  // Dynamically Create a Canvas Element
                        canvas.width  = 300;  // Set the width of the Canvas
                        canvas.height = 300;  // Set the height of the Canvas
                        var ctx = canvas.getContext("2d");  // Get the "context" of the canvas 
                        var img = document.getElementById("output");  // The id of your image container
                        ctx.drawImage(img,0,0,300,300);  // Draw your image to the canvas
                        var jpegFile = canvas.toDataURL("image/jpeg"); // This will save your image as a 
                                                                    //jpeg file in the base64 format.
                        $.ajax({
                                type: "POST",
                                url: "https://plantwebapp.herokuapp.com/predict",
                                data: jpegFile,
                                success: function(data){
                                    console.log(data)
                                    console.log("success!!! going to redirect..?")
                                    window.location.replace("https://plantwebapp.herokuapp.com/history");
                                }
                            });
                    }
                </script>
            </div>
            <div class="row pt-3">
                <div class="col-6 justify-content-center d-flex">
                    <label class="btn btn-default" style="background-color: #55b57a; color:white;">
                        Browse <input onchange="loadFile(event)" type="file" hidden accept="image/png, image/jpeg, image/jpg">
                    </label>
                </div>
                <div class="col-6 justify-content-center d-flex">
                    
                    <button class="btn btn-default" onclick="toggleCamera()" style="background-color: #55b57a; color:white;">
                        Webcam 
                    </button>
        
                </div>
        
            </div>

        </div>  
    </div>
    </div>
</div>