<header>
    <nav class="navbar navbar-dark shadow navbar-expand-sm" >
        <a href="/home"><img src="{{url_for('static', filename='images/leaflogo.png') }}" class="ms-5" id="logo"></a>
        <div class="" id="navbarNav">
          <ul class="navbar-nav text-center text-light">
            <li class="nav-item">
              <a href="/home" class="nav-link {% if index %}active{% endif %}">Home</a>
            </li>
            <li class="nav-item">
              <a href="/history" class="nav-link">{{session['username']}}'s History</a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link">Logout</a>
            </li>
          </ul>
        </div>
      </nav>    
</header>

